body {
  font-family: sans-serif;
  color: #333;
}

.state, .district {
  fill: none;
  stroke: #367db0;
  stroke-linejoin: round;
}

.district:hover {
  fill: #367db0;
  fill-opacity: 1;
  cursor: pointer;
}

.table-container {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cecece;
}

.table-container table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  font-family: monospace;
}

.table-container thead {
  background: #525151;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

th.aes,
th.des {
  background: #367db0;
}

.table-container table tr:nth-child(odd) {
  background: #ececec;
}

.table-container td,
.table-container th {
  padding: 4px;
}

.tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #367db0;
  border-radius: 8px;
  font-size: 12px;
  padding: 5px;
}

#filters {
  padding: 10px;
  text-align: center;
}

button {
  background: none;
  padding: 5px 10px;
  border: 1px solid #999;
  border-right: none;
}

button:first-child {
  border-radius: 4px 0 0 4px;
}

button:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #999;
}
