.#{$prefix}controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  // margin-top: 20px;
  // border-top: 2px solid $gray1;
  // border-bottom: 2px solid $gray1;
}

.#{$prefix}control {
  width: 32%;

  select {
    width: 100%;
    display: block;
    font-size: 16px;
    border: 1px solid $gray2;
    background: #fff;
    padding: 5px;
    height: 32px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
