#details {
  background: #fff;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  max-width: 200px;
}

#details p {
  margin-top: 0;
}

#details tr {
  border-bottom: 1px solid #ccc;
}

.details-content {
  font-size: 12px;
}
