@import "variables";

.#{$prefix}share-container {
  display: none;
  background: rgba($gray1, 0.9);
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 20px 0 rgba($gray4, 0.8);

  img {
    display: block;
    max-width: 80%;
    margin: 30px auto 10px;
    max-height: 400px;
    cursor: pointer;
  }
  p {
    text-align: center;
    color: $gray3;
    font-style: italic;
  }
  button {
    display: block;
    width: 20%;
    min-width: 160px;
    text-align: center;
    margin: 14px auto 0;
  }
  z-index: 20;
}
