body {
  font-family: sans-serif;
  color: #333;
}

.state, .district {
  fill: none;
  stroke: #367db0;
  stroke-linejoin: round;
}

.district:hover {
  fill-opacity: 1;
  cursor: pointer;
  stroke: yellow;
}

#table {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cecece;
}

#table table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  font-family: monospace;
}

#table thead {
  background: #bdbdbd;
  text-align: left;
}

.sortable {
  background-image: url('/img/sort.png');
  background-repeat: no-repeat;
  background-position: 100% 4px;
  background-size: 12px;
  cursor: pointer;
}

.sort--ascending {
  background-image: url('/img/sort-up.png');
}

.sort--descending {
  background-image: url('/img/sort-down.png');
}

#table table tr:nth-child(odd) {
  background: #ececec;
}

#table td,
#table th {
  padding: 4px;
}

.tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #367db0;
  border-radius: 8px;
  font-size: 12px;
  padding: 5px;
}

#vis {
  display: flex;
  margin: 0;
}

#controls {
  width: 180px;
}

#map {
  width: 100%;
}

#filters {
  padding: 10px 0;
}

#toggle {
  padding: 20px 0;
}

#controls button {
  display: block;
  width: 100%;
  background: none;
  padding: 5px 10px;
  border: 1px solid #999;
  border-bottom: none;
  text-align: left;
}

#controls button:last-child {
  border-bottom: 1px solid #999;
}

#controls .selected {
  background-color: #367db0;
  color: #fff;
}
