@import "variables";
@import "map";
@import "controls";
@import "table";
@import "loader";
@import "share";

body {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
}

.data-progress-maps {
  color: #333;
  margin: 0;
}

.#{$prefix}container {
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  color: $gray1;
  font-family: "Montserrat", sans-serif;

  button {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: $border-radius;
  }
}

.#{$prefix}content {
  max-width: 600px;
  margin: 0 auto;
  p {
    line-height: 1.5;
  }
}
